body{
	background-color:rgb(255,255,137);
}

h1{
	text-align:center;
}

#t1{
	border:3px solid;
        color:rgb(0,0,0);
	text-align:center;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	font-family:"Comic Sans MS";
}

#t2{
	border:3px solid;
        color:rgb(0,0,0);
	text-align:center;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	font-family:"Comic Sans MS";
}

#t3{
	border:3px solid;
        color:rgb(0,0,0);
	text-align:center;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	font-family:"Comic Sans MS";
}

#t4{
	border:3px solid;
        color:rgb(0,0,0);
	text-align:center;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	font-family:"Comic Sans MS";
}

#img{
	background-color:rgb(255,255,255);
}